body {
    background-image: url(https://scontent.fpat3-1.fna.fbcdn.net/v/t1.0-9/s960x960/84235883_2720283348081204_45623187022544896_o.jpg?_nc_cat=108&_nc_oc=AQleV8bO11ZqgSQnuvIfOs9MzfiZdI0yc9cB-mEwhxJvo4wVUutogJ_D5-sFO0y4KbgjArG5G0J52SzanCXo_CHo&_nc_ht=scontent.fpat3-1.fna&oh=e2d50432ebc807e2aada714de2334646&oe=5E909BC4);
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar-brand{
    height: 75px;
    width: auto;
}
.navbar{
    color: black;
    text-shadow: black;
    font-family: 'Lato', sans-serif;
}
.container {
    font-family: 'Lato', sans-serif;    
    color: black;
    text-align: center;
    font-weight: 2000;
    margin-top: 70px;
    
}